<ul style="margin: 0px; list-style-type:none; padding: 0px;">
{% for i in range(bonus|length) %}
    {% if i != 0 %}

    {% endif %}
<li>
    <select id="BONUS_{{ i }}_{{ identifier }}" name="BONUS_{{ i }}_{{ identifier }}" onchange="changed_bonus('{{ identifier }}')">
    {% for bonus_type in types %}
        <option value="{{ bonus_type['DST'] }}" {% if bonus[i][0] == bonus_type['DST'] %} selected {% endif %}>{{ bonus_type['Name'] }}</option>
    {% endfor %}
    </select>
    <input id="BONUSVAL_{{ i }}_{{ identifier }}" name="BONUSVAL_{{ i }}_{{ identifier }}" type="number" value="{{ bonus[i][1] }}" onchange="changed_bonus('{{ identifier }}')">
</li>
{% endfor %}
</ul>