<h2>{{ weaponname }}</h2>

<table>
    <tr>
        <td>Icone</td>
        <td>ID</td>
        <td>Nom</td>
        <td>Classe</td>
        <td>Niveau</td>
        <td>Bonus</td>
        <td>BonusEdit</td>
    </tr>
    {% for weapon in weapons %}
    <tr>
        <td><img src="{{ weapon.icon }}"></td>
        <td>{{ weapon.identifier }}</td>
        <td>{{ weapon.name }}</td>
        <td>{{ weapon.job_name }}</td>
        <td>{{ weapon.real_level }}</td>
        <td>{{ weapon.bonus_serialization }}</td>
        <td>{{ weapon.bonus_form }}</td>
    </tr>
    {% endfor %}
</table>

<textarea id="TEXT_AREA" cols="100" rows="20"></textarea>