<!DOCTYPE html>
<html>
  <head>
    <title>Express Prop Html</title>
    <link href="itemlist.css" rel="stylesheet" />
    <style>
      .hidden { display: none; }
    </style>
  </head>
  <body>
    <h1>Express Prop Html</h1>
    <div id="loading"></div>
    <div id="app" class="hidden">
      <p><label for="editMode">
        <input
          type="checkbox"
          name="inEditMode"
          v-model="editMode"
        />
        Switch to edit mode
      </label></p>

      <h2>{{ category }}</h2>

      <table>
        <tr>
          <th>Icon</th>
          <th>ID</th>
          <th>Name</th>
          <th>Job</th>
          <th>Level</th>
          <th>Bonus</th>
        </tr>
        <tr v-for="item in items" v-bind:key="item.id">
          <td><img v-bind:src="'dds/' + item.icon" /></td>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.jobName }}</td>
          <td><span v-if="item.level != 0">{{ item.level }}</span></td>
          <td v-html="buildBonus(item.bonus)" v-if="editMode !== true"></td>
          <td v-if="editMode">
            <template v-for="(awake, iAwake) in item.bonus">
              <br v-if="iAwake > 0" />
              <select>
                <option value="None" v-bind:selected="awake === null"></option>

                <option
                  v-for="(value, key) in dstList"
                  v-bind:value="key"
                  v-bind:selected="awake !== null && awake[0] === key"
                >
                  {{ value.tid }}
                </option>
              </select>
              <input type="number" v-bind:value="awake !== null ? awake[1] : false">
            </template>
          </td>
        </tr>
      </table>
      
      <footer>
        <a href="https://github.com/SPSquonK/PropHtml">Express Prop Html</a> © SquonK, 2021
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>