<!DOCTYPE html>
<html>
  <head>
    <title>Équipements de SFlyFF</title>
    <!-- <link href="itemlist.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .hidden { display: none; }

      .table.itemlist td,
      .table.itemlist tr {
        vertical-align: middle;
      }
    </style>
  </head>
  <body>

    <section class="section">
      <h1 class="title has-text-centered is-link">Équipements de SFlyFF</h1>
      <div id="loading"></div>
      <div id="app" class="hidden">
        <div class="block">
          <nav class="navbar is-link has-shadow" role="navigation" aria-label="main navigation">

            <div class="navbar-brand">
              <span class="navbar-item" style="font-weight: bold;">Catégories</span>
            </div>

            <div class="navbar-menu">
              <div class="navbar-start">
                <a
                  v-for="(oneCategory, index) in categories"
                  v-bind:href="'javascript:requestIk3(' + index + ')'"
                  v-bind:class="'navbar-item' + (oneCategory === category ? ' is-active' : '')"
                >
                  {{ oneCategory }}
                </a>
              </div>
            </div>
          </nav>
        </div>

        <div class="block box">
          <h2 class="title is-3">{{ category }}</h2>

          <table
            class="table is-hoverable is-striped is-bordered is-fullwidth itemlist has-text-centered"
            v-if="categoryType === 'Single Item'"
          >
            <thead>
              <tr>
                <th style="width: 64px;">Icone</th>
                <th style="width: 30em;">Nom</th>
                <th style="width: 10em;">Classe</th>
                <th style="width: 5em;">Niveau</th>
                <th class="has-text-left">Bonus</th>
              </tr>
            </thead>

            <tbody>
              <template>
                <item-row
                  v-for="item in items"
                  v-bind:item="item"
                  v-bind:dstlist="dstList"
                  v-bind:editmode="editMode"
                  v-on:modifieditem="modifyPending($event)"
                  v-bind:key="item.id"
                >
                </item-row>
              </template>
            </tbody>
          </table>

          <article
            class="message is-danger message-body"
            v-if="categoryType === 'Item Set' && editMode"
          >
            Edit mode is not yet supported for item sets
          </article>

          <table
            class="table is-hoverable is-striped is-bordered is-fullwidth itemlist has-text-centered"
            v-if="categoryType === 'Item Set'"
          >
            <thead>
              <tr>
                <th style="width: 30em;">Set</th>
                <th style="width: 10em;">Classe</th>
                <th class="has-text-left">Bonus</th>
              </tr>
            </thead>

            <tbody>
              <template>
                <item-set-row
                  v-for="itemset in itemsets"
                  v-bind:itemset="itemset"
                  v-bind:dstlist="dstList"


                  v-bind:key="itemset.id"
                >
                </item-set-row>
              </template>
            </tbody>
          </table>

          <article
            class="message is-danger message-body"
            v-if="categoryType && categoryType.startsWith('Unsupported ')"
          >
            {{ categoryType }}
          </article>
        </div>
        
        <footer class="has-text-right">
          <strong><a href="https://github.com/SPSquonK/PropHtml">Express Prop Html</a></strong>
          par <a href="https://squonk.fr">SquonK</a>, 2021.
        </footer>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>